  <nav class="navbar navbar-light navbar-expand navbar-light">
  <a class="navbar-brand" href="{% url 'landing_pages:home-page'%}"><img src="http://i66.tinypic.com/ofww03.png" border="0" height="50" width="50">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " href="{% url 'landing_pages:home-page'%}"> <p class="h6 font-weight-bold">Home &nbsp; </p></span></a>
      <a class="nav-item nav-link" href="{% url 'landing_pages:golden-gate-bridge'%}"><p class=" h6 font-weight-bold">Book Tour &nbsp; </p></a>
    </div>
  </div>
</nav>