{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block css%}
<style>

div.jumbotron{
    color:#ffffff;
    text-align:center;
    background: url(http://i65.tinypic.com/293dbu9.jpg);
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
    height: 100%;
    margin-bottom:0;

}

</style>
{% endblock%}




    {% block content %}


  <!-- Content here -->

 <!-- jumbotron Pic -->
    <div class="jumbotron">

        <br><br><br><br><br><br><br><br>

         <h1 class="text-left text-buttom">Golden Gate Bridge Walking Tour</h1>
    </div>


<!-- End jumbotron Pic -->


<hr>


<div class="container">

    <!-- First Row --- about host & Book tour form-->

<div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-lx-8">
    <h5>About your host</h5>

<p><img class='rounded-circle' src="http://i67.tinypic.com/1z5nu3a.png" width="120" height="120">
  &nbsp;&nbsp;&nbsp;&nbsp; <b class="lead ">CJ Luo</b> </p>



<p class="text-muted lead">
    I am a freelance Tour Guide & R&B singer. <br>
    <br>
    Before settling in San Francisco,I’ve been traveling the world, one backpacking trip at a time, seeing those magic moments in everyone’s daily life.
    <br>
    <br>
    Now, I've lived in SF for 5 years and love it from the bottom of my heart.
</p>

        <hr>


<h5>What we'll do</h5> <br>

<p class="text-muted lead">The walking tour takes 40 mins. We'll meet at the Golden Gate Bridge Welcome Center. <a
        href="https://www.google.com/maps/place/Golden+Gate+Bridge+Welcome+Center/@37.8077489,-122.4771407,17z/data=!3m1!4b1!4m5!3m4!1s0x80858690432c06e7:0xfac9601f983db5bd!8m2!3d37.8077489!4d-122.474952" target="_blank">See Map Here</a> <br> <br>

I'll take you to the best spots to enjoy the view of the Golden Gate Bridge and tell you the remarkable stories behind the bridge.
    <br><br>

Additionally, I will tell where to eat & visit if you have more questions. I will try my best to help you.
</p>

    <hr>


<h5>What else you should know</h5> <br>
<p class="text-muted lead"> This tour will have 8 people so don't be late. <br><br>

</p>
        <br><br>
</div>
       <!-- end of left col-->


    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-lx-4 text-center">


        <div class="card">
   <div class="card-body">


      <form method="POST", enctype="multipart/form-data"> {% csrf_token %}
  {{ tour_form.name|as_crispy_field }}
  {{ tour_form.email|as_crispy_field }}
  {{ tour_form.tour_date|as_crispy_field }}
  {{ tour_form.number_of_people|as_crispy_field }}

          <br><br>
         <p class="lead"> $3.99 per person </p>
          <p class="text-muted">*No Credit Card Required</p>
   <button type="submit" class="btn btn-danger btn-lg">SEND REQUEST</button>
          <br><br> <br>
</form>
</div>
</div>
   </div>

</div>






<!-- End about host & Book tour form-->
</div>

{% endblock %}



