{%  extends 'base.html' %}



{% block css%}
<style>

div.jumbotron{
    color:#ffffff;
    text-align:center;
    background: url(http://i65.tinypic.com/293dbu9.jpg);
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
    height: 100%;
    margin-bottom:0;

}

</style>
{% endblock%}



{% block content %}

<div class="jumbotron">
    <br><br><br><br><br><br><br><br>

  <h1>Awesome Rated Golden Gate Bridge Walking Tour</h1>
  <hr>
  <h2>$3.99 Per Person</h2>
  <br>
  <a class="btn btn-primary btn-lg" href="{% url 'landing_pages:golden-gate-bridge'%}" role="button">Book Tour</a>
    <p></p>
    <br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


{% endblock %}